<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:component="urn:jsptagdir:/WEB-INF/tags/component" xmlns:util="urn:jsptagdir:/WEB-INF/tags/util"
     xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" version="2.0">
  <jsp:directive.page contentType="text/html;charset=UTF-8" />
  <jsp:output omit-xml-declaration="yes" />
  <style>
  	.textAuto::-webkit-input-placeholder {
	    color: blue;
	}
	.textAuto:-moz-placeholder {
	    color: blue;
	
	}
	.textAuto::-moz-placeholder {
	    color: blue;
	
	}
  </style>
  
  <!-- Initial I18N -->
  <c:set scope="request" var="LABEL_ITEM_INFORMATION"><spring:message code="LABEL_ITEM_INFORMATION"/></c:set>
  <c:set scope="request" var="LABEL_AUTO_KEYIN"><spring:message code="LABEL_AUTO_KEYIN"/></c:set>
  <c:set scope="request" var="LABEL_WARNING"><spring:message code="LABEL_WARNING"/></c:set>
  <c:set scope="request" var="LABEL_DANGER"><spring:message code="LABEL_DANGER"/></c:set>
  <c:set scope="request" var="LABEL_STOCK_HISTORY"><spring:message code="LABEL_STOCK_HISTORY"/></c:set>
  <c:set scope="request" var="LABEL_SALE_HISTORY"><spring:message code="LABEL_SALE_HISTORY"/></c:set>

  <c:set scope="request" var="MESSAGE_CONFIRM_TO_DELETE_ITEM_CODE"><spring:message code="MESSAGE_CONFIRM_TO_DELETE_ITEM_CODE"/></c:set>
  
  <!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="editItemModal" tabindex="-1" role="dialog" >
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="background-color: rgb(56, 53, 53);">
      <div class="modal-header" style="background-color: #2f2d2d;color: #f5f3f1;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span  aria-hidden="true" class="fa fa-remove"><jsp:text/></span></button>
        <h3 class="modal-title" >${LABEL_ITEM_INFORMATION }</h3>
      </div>
      <div class="modal-body">
        <div class="row">
        	<div class="col-sm-6">
			    		<div class="form-group">
                        	<div class="control-label col-sm-3" style="top: 13px;padding-right: 0px;">
                        		<label style="color: #009688;font-size: 15px;">${LABEL_ITEM_CODE }</label>
                        	</div>
                        	<div class="col-sm-9">
                        		<input type="text" class="form-control " id="modal_edit_item_code" style="color: #ffffff;font-size: 16px;" placeholder="${LABEL_AUTO_KEYIN }"/>
                        	</div>
                        </div>
			    		<div class="form-group">
                        	<div class="control-label col-sm-3" style="top: 13px;padding-right: 0px;">
                        		<label style="color: #009688;font-size: 15px;">${LABEL_BARCODE }</label>
                        	</div>
                        	<div class="col-sm-9">
                        		<input type="text" class="form-control "  id="modal_edit_barcode" style="color: #ffffff;font-size: 16px;" placeholder="${LABEL_AUTO_KEYIN }"/>
                        	</div>
                        </div>
			    		<div class="form-group">
                        	<div class="control-label col-sm-3" style="top: 13px;padding-right: 0px;">
                        		<label style="color: #009688;font-size: 15px;">${LABEL_PRODUCT_NAME }</label>
                        	</div>
                        	<div class="col-sm-9" style="padding-top: 10px;" >
                        		<textarea rows="5" cols="32" class="form-control"  id="modal_edit_name"  style="color: #ffffff;font-size: 16px;" ><jsp:text/></textarea>
                        	</div>
                        </div>
			    		<div class="form-group">
                        	<div class="control-label col-sm-5" style="top: 13px;padding-right: 0px;">
                        		<label style="color: #009688;font-size: 15px;">${LABEL_STOCK_ON_HAND }</label>
                        	</div>
                        	<div class="col-sm-7">
                        		<input type="text" class="form-control numbersOnly"  id="modal_edit_stock_on_hand"  style="color: #2196f3;font-size: 16px;text-align: right;" placeholder="0"/>
                        	</div>
                        </div>
			    		<div class="form-group">
                        	<div class="control-label col-sm-5" style="top: 13px;padding-right: 0px;">
                        		<label style="color: #ffffff;font-size: 15px;">${LABEL_MINIMUM_STOCK }</label>
                        	</div>
                        	<div class="col-sm-7">
                        	    <input type="hidden"    id="modal_edit_id" /> 
                        	    <input type="hidden"    id="modal_edit_createdBy" /> 
                        	    <input type="hidden"    id="modal_edit_createdDate" /> 
                        	    <input type="hidden"    id="modal_edit_updateBy" /> 
                        	    <input type="hidden"    id="modal_edit_updateDate" /> 
                        		<input type="text" class="form-control numbersOnly"   id="modal_edit_minimum_stock" style="color: #2196f3;font-size: 16px;text-align: right;" placeholder="0" />
                        	</div>
                        </div>
			</div>
        	<div class="col-sm-6">
			    		<div class="form-group">
                        	<div class="control-label col-sm-12">
                        		<h3 style="margin-top: 0px;margin-bottom: 0px;"><label style="color: #ffffff;">${LABEL_SELLING_PRICE }</label><label   id="modal_edit_selling_price" style="color: #2196f3;position: absolute;right: 36px;top:0px;">0.00</label><label style="color: #2196f3;position: absolute;right: 16px;top:0px;"> $</label></h3>
                        	</div>
                        </div>
                        <div class="form-group">
                        	<div class="control-label col-sm-3" style="top: 13px;">
                        		<label style="color: #009688;" >${LABEL_NORMAL }</label>
                        	</div>
                        	<div class="col-sm-8" style="padding-right: 3px;">
                        		<input type="text" class="form-control amount2digit"  id="modal_edit_normal_selling_price_amt" style="color: #2196f3;font-size: 16px;text-align: right;" placeholder="0.00"/>
                        	</div>
                        	<div class="col-sm-1" style="font-size: 18px;top: 6px;padding-left: 3px;">
                        		<label style="color: #ffffff;">$</label>
                        	</div>
                        </div>
                        <div class="form-group">
                        	<div class="control-label col-sm-3" style="top: 13px;">
                        		<label style="color: #ffffff;">${LABEL_PROMOTION }</label>
                        	</div>
                        	<div class="col-sm-6" style="padding-right: 0px;">
                        		<input type="text" class="form-control amount2digit"   id="modal_edit_promotion_selling_price_amt" style="color: #2196f3;font-size: 16px;text-align: right;" placeholder="0.00"/>
                        	</div>
                        	<div class="col-sm-1" style="font-size: 18px;top: 6px;padding-left: 3px;">
                        		<label style="color: #ffffff;">$</label>
                        	</div>
                        	<div class="col-sm-1" style="padding-right: 1px;padding-left: 10px;">
                        		<input type="text" class="form-control"   id="modal_edit_promotion_selling_price_pct" style="color: #2196f3;font-size: 16px;text-align: right;" placeholder="0"/> 
                        	</div>
                        	<div class="col-sm-1" style="font-size: 18px;top: 6px;padding-left: 3px;">
                        		<label style="color: #ffffff;">%</label>
                        	</div>
                        </div>
                        <div class="form-group">
                        	<div class="control-label col-sm-12">
                        		<h3 style="margin-top: 20px;margin-bottom: 0px;"><label style="color: #ffffff;">${LABEL_PURCHASE_PRICE }</label><label   id="modal_edit_purchase_price" style="color: #2196f3;position: absolute;right: 36px;top:20px;">0.00</label><label style="color: #2196f3;position: absolute;right: 16px;top:20px;"> $</label></h3>
                        	</div>
                        </div>
                        <div class="form-group">
                        	<div class="control-label col-sm-3" style="top: 13px;">
                        		<label style="color: #009688;">${LABEL_NORMAL }</label>
                        	</div>
                        	<div class="col-sm-8" style="padding-right: 3px;">
                        		<input type="text" class="form-control amount2digit" id="modal_edit_normal_purchase_price_amt" style="color: #2196f3;font-size: 16px;text-align: right;" placeholder="0.00"/>
                        	</div>
                        	<div class="col-sm-1" style="font-size: 18px;top: 6px;padding-left: 3px;">
                        		<label style="color: #ffffff;">$</label>
                        	</div>
                        </div>
                        <div class="form-group">
                        	<div class="control-label col-sm-3" style="top: 13px;">
                        		<label style="color: #ffffff;">${LABEL_PROMOTION }</label>
                        	</div>
                        	<div class="col-sm-6" style="padding-right: 0px;">
                        		<input type="text" class="form-control amount2digit"  id="modal_edit_promotion_purchase_price_amt" style="color: #2196f3;font-size: 16px;text-align: right;" placeholder="0.00"/>
                        	</div>
                        	<div class="col-sm-1" style="font-size: 18px;top: 6px;padding-left: 3px;">
                        		<label style="color: #ffffff;">$</label>
                        	</div>
                        	<div class="col-sm-1" style="padding-right: 1px;padding-left: 10px;">
                        		<input type="text" class="form-control"   id="modal_edit_promotion_purchase_price_pct" style="color: #2196f3;font-size: 16px;text-align: right;" placeholder="0"/> 
                        	</div>
                        	<div class="col-sm-1" style="font-size: 18px;top: 6px;padding-left: 3px;">
                        		<label style="color: #ffffff;">%</label>
                        	</div>
                        </div>
                        <div class="form-group">
                        	<div class="control-label col-sm-12">
                        		<h4 style="margin-top: 20px;margin-bottom: 0px;" ><label  style="color: #ff5722;">${LABEL_FIX_COST }</label><label id="modal_edit_fix_cost_pct" style="color: #f32e21;position: absolute;right: 36px;top:20px;">12.5</label><label style="color: #f32e21;position: absolute;right: 16px;top:20px;"> %</label></h4>
                        	</div>
                        </div>
                        <div class="form-group">
                        	<div class="control-label col-sm-12">
                        		<h4 style="margin-top: 20px;margin-bottom: 0px;" ><label  style="color: #ffffff;">${LABEL_CONTRIBUTION }</label><label id="modal_edit_cont_amt" style="color: #2196f3;position: absolute;right: 176px;top:20px;">0.00</label><label style="color: #2196f3;position: absolute;right: 156px;top:20px;"> $</label><label id="modal_edit_cont_pct" style="color: #34f321;position: absolute;right: 36px;top:20px;">0.00</label><label style="color: #34f321;position: absolute;right: 16px;top:20px;"> %</label></h4>
                        	</div>
                        </div>
                        <div class="form-group">
                        	<div class="control-label col-sm-12">
                        		<h4 style="margin-top: 5px;margin-bottom: 0px;" ><label  style="color: #ffffff;">${LABEL_MARGIN }</label><label id="modal_edit_margin_amt" style="color: #2196f3;position: absolute;right: 176px;top:5px;">0.00</label><label style="color: #2196f3;position: absolute;right: 156px;top:5px;"> $</label><label id="modal_edit_margin_pct" style="color: #34f321;position: absolute;right: 36px;top:5px;">0.00</label><label style="color: #34f321;position: absolute;right: 16px;top:5px;"> %</label></h4>
                        	</div>
                        </div>
			</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">${BUTTON_CLOSE } <span  aria-hidden="true" class="fa fa-remove"><jsp:text/></span></button>
        <button type="button" class="btn btn-primary" id="editItemModalSave" >${BUTTON_SAVE } <span  aria-hidden="true" class="fa fa-save"><jsp:text/></span></button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="warningModal" tabindex="-1" role="dialog" style="z-index: 1060">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color: rgba(255, 226, 0, 0.94);" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span  aria-hidden="true" class="fa fa-remove"><jsp:text/></span></button>
        <h3 class="modal-title" >${LABEL_WARNING } <span class="fa fa-warning"><jsp:text/></span></h3>
      </div>
      <div class="modal-body">
      <jsp:text/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">${BUTTON_CLOSE } <span  aria-hidden="true" class="fa fa-remove"><jsp:text/></span></button>
       </div>
    </div>
  </div>
</div>



<div class="modal fade" id="deleteItemModal" tabindex="-1" role="dialog" >
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color: rgba(244, 67, 54, 0.84);" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span  aria-hidden="true" class="fa fa-remove"><jsp:text/></span></button>
        <h3 class="modal-title" >${ LABEL_DANGER}  <span class="fa fa-warning"><jsp:text/></span></h3>
      </div>
      <div class="modal-body">
        <label >${MESSAGE_CONFIRM_TO_DELETE_ITEM_CODE} </label><label id="codeItemDelete" style="padding-left: 5px;"></label>
      </div>
      <div class="modal-footer">
        <input type="hidden" id="idItemDelete" /> 
        <button type="button" class="btn btn-material-grey-700" data-dismiss="modal">${BUTTON_CANCEL}  <span  aria-hidden="true" class="fa fa-remove"><jsp:text/></span></button>
        <button type="button" class="btn btn-success" onclick="deleteItem($('#idItemDelete').val())">${BUTTON_CONFIRM}  <span  aria-hidden="true" class="fa fa-check"><jsp:text/></span></button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg" id="stockHistoryModal" tabindex="-1" role="dialog" >
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="background-color: rgb(56, 53, 53);">
      <div class="modal-header" style="background-color: #2f2d2d;color: #f5f3f1;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span  aria-hidden="true" class="fa fa-remove"><jsp:text/></span></button>
        <h3 class="modal-title" >${LABEL_STOCK_HISTORY }</h3>
      </div>
      <div class="modal-body">
        <div class="row">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">${BUTTON_CLOSE } <span  aria-hidden="true" class="fa fa-remove"><jsp:text/></span></button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade bs-example-modal-lg" id="saleHistoryModal" tabindex="-1" role="dialog" >
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="background-color: rgb(56, 53, 53);">
      <div class="modal-header" style="background-color: #2f2d2d;color: #f5f3f1;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span  aria-hidden="true" class="fa fa-remove"><jsp:text/></span></button>
        <h3 class="modal-title" >${LABEL_SALE_HISTORY }</h3>
      </div>
      <div class="modal-body">
        <div class="row">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">${BUTTON_CLOSE } <span  aria-hidden="true" class="fa fa-remove"><jsp:text/></span></button>
      </div>
    </div>
  </div>
</div>






</div>