<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:component="urn:jsptagdir:/WEB-INF/tags/component" xmlns:util="urn:jsptagdir:/WEB-INF/tags/util"
     xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" version="2.0">
  <jsp:directive.page contentType="text/html;charset=UTF-8" />
  <jsp:output omit-xml-declaration="yes" />
  <spring:message var="app_name" code="application_name" htmlEscape="false" />
  <spring:message var="title"    code="welcome_titlepane" arguments="${app_name}" htmlEscape="false" />
  <!-- Load Internal CSS  -->
  <spring:url value="/resources/styles/tablegray.css" var="table_gray" />
  
  <link rel="stylesheet" type="text/css" href="${table_gray}"/>
  
  <!-- Load JS  -->
  <spring:url value="${urls.getForLookupPath('/resources/scripts/app/pos/pos-common.js')}"        var="pos_common_js" />
		
  <script type="text/javascript"  src="${pos_common_js}" ><!-- required for FF3 and Opera --></script>
  
  <!-- Initial I18N -->
  <c:set scope="request" var="BUTTON_PAYMENT"><spring:message code="BUTTON_PAYMENT"/></c:set>
  <c:set scope="request" var="BUTTON_CANCEL"><spring:message code="BUTTON_CANCEL"/></c:set>
  <c:set scope="request" var="BUTTON_CLEAR"><spring:message code="BUTTON_CLEAR"/></c:set>
  
  <c:set scope="request" var="LABEL_ITEM_LIST"><spring:message code="LABEL_ITEM_LIST"/></c:set>
  <c:set scope="request" var="LABEL_ITEM_CODE"><spring:message code="LABEL_ITEM_CODE"/></c:set>
  <c:set scope="request" var="LABEL_BARCODE"><spring:message code="LABEL_BARCODE"/></c:set>
  <c:set scope="request" var="LABEL_PRODUCT_NAME"><spring:message code="LABEL_PRODUCT_NAME"/></c:set>
  <c:set scope="request" var="LABEL_QUANTITY"><spring:message code="LABEL_QUANTITY"/></c:set>
  <c:set scope="request" var="LABEL_PRICE"><spring:message code="LABEL_PRICE"/></c:set>
  <c:set scope="request" var="LABEL_TOTAL"><spring:message code="LABEL_TOTAL"/></c:set>
  <c:set scope="request" var="LABEL_ACTION"><spring:message code="LABEL_ACTION"/></c:set>
  <c:set scope="request" var="LABEL_SUMMARY"><spring:message code="LABEL_SUMMARY"/></c:set>
  <c:set scope="request" var="LABEL_PIECE_"><spring:message code="LABEL_PIECE_"/></c:set>
  <c:set scope="request" var="LABEL_TOTAL_ITEM"><spring:message code="LABEL_TOTAL_ITEM"/></c:set>
  <c:set scope="request" var="LABEL_SUB_TOTAL"><spring:message code="LABEL_SUB_TOTAL"/></c:set>
  <c:set scope="request" var="LABEL_REBATE"><spring:message code="LABEL_REBATE"/></c:set>
  <c:set scope="request" var="LABEL_VAT"><spring:message code="LABEL_VAT"/></c:set>
  <c:set scope="request" var="LABEL_NUMBER_KEYBOARD"><spring:message code="LABEL_NUMBER_KEYBOARD"/></c:set>
  <c:set scope="request" var="LABEL_CUSTOMER_CODE"><spring:message code="LABEL_CUSTOMER_CODE"/></c:set>
  <c:set scope="request" var="LABEL_CUSTOMER_FIRST_NAME"><spring:message code="LABEL_CUSTOMER_FIRST_NAME"/></c:set>
  <c:set scope="request" var="LABEL_CUSTOMER_LASTNAME"><spring:message code="LABEL_CUSTOMER_LASTNAME"/></c:set>
  <c:set scope="request" var="LABEL_CUSTOMER_SALE_HISTORY"><spring:message code="LABEL_CUSTOMER_SALE_HISTORY"/></c:set>
  <c:set scope="request" var="LABEL_SALE_HISTORY"><spring:message code="LABEL_SALE_HISTORY"/></c:set>
  
  
  
  <c:set scope="request" var="MESSAGE_REQUIRE_FIELD"><spring:message code="MESSAGE_REQUIRE_FIELD"/></c:set>
  <c:set scope="request" var="MESSAGE_CONFIRM_TO_DELETE_ITEM"><spring:message code="MESSAGE_CONFIRM_TO_DELETE_ITEM"/></c:set>
  <c:set scope="request" var="MESSAGE_CONFIRM_TO_CLEAR_ITEM"><spring:message code="MESSAGE_CONFIRM_TO_CLEAR_ITEM"/></c:set>
  <c:set scope="request" var="MESSAGE_ITEM_IS_EMPTY"><spring:message code="MESSAGE_ITEM_IS_EMPTY"/></c:set>
  <c:set scope="request" var="MESSAGE_MONEY_NOT_ENOUGH"><spring:message code="MESSAGE_MONEY_NOT_ENOUGH"/></c:set>
  
  <script type="text/javascript">
        <![CDATA[
                 
        var $MESSAGE_REQUIRE_CUSTOMER_CODE = '${MESSAGE_REQUIRE_FIELD} ${LABEL_CUSTOMER_CODE}';
        var $MESSAGE_REQUIRE_CUSTOMER_FIRST_NAME = '${MESSAGE_REQUIRE_FIELD} ${LABEL_CUSTOMER_FIRST_NAME}';
        var $MESSAGE_REQUIRE_CUSTOMER_LASTNAME = '${MESSAGE_REQUIRE_FIELD} ${LABEL_CUSTOMER_LASTNAME}';
        var $MESSAGE_CONFIRM_TO_DELETE_ITEM = '${MESSAGE_CONFIRM_TO_DELETE_ITEM}';
        var $MESSAGE_CONFIRM_TO_CLEAR_ITEM = '${MESSAGE_CONFIRM_TO_CLEAR_ITEM}';
        var $MESSAGE_ITEM_IS_EMPTY = '${MESSAGE_ITEM_IS_EMPTY}';
        var $MESSAGE_MONEY_NOT_ENOUGH = '${MESSAGE_MONEY_NOT_ENOUGH}';
        
        

        ]]>
  </script>
  
  <div class="container" style="padding-top: 5px;margin-left: 20px;margin-right: 20px;width: 1800px;" >
  	<div class="row">
  		<div class="col-sm-5" style="width: 850px;">
  		<div class="row">
            <div class="col-sm-12">
                <div class="panel panel-material-grey-800">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                ${LABEL_ITEM_LIST }
                            </a>
                        </h3>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel">
                        <div class="panel-body" style="background-color: #424242;">
                            <form class="form-horizontal">
                                <div class="form-group">
		                        	<div class="col-sm-4">
		                        		<input type="text" class="form-control" placeholder="${LABEL_ITEM_CODE }"  style="color: #ff0000;" id="add_form_item_code" />
		                        	</div>
		                        	<div class="col-sm-4">
		                        		<input type="text" class="form-control" placeholder="${LABEL_BARCODE }" style="color: #ff0000;" id="add_form_item_barcode"/> 
		                        	</div>
		                        	<div class="col-sm-2">
		                        		<input type="text" class="form-control" placeholder="${LABEL_QUANTITY }" style="color: #ff0000;" id="add_form_quantity"/> 
		                        	</div>
		                        	<div class="col-sm-2" style="top: 13px;">
		                        		<button onclick="saveItemAndClearForm()" style="border-radius: 60px;width: 60px;height: 60px;padding-left: 20px;padding-right: 20px;margin-top: -20;margin-top: 0px;margin-bottom: 0px;margin-right: 0px;margin-left: 0px;position: relative;top: -9px;left: -24px;    background-color: #0097a7;"  class="btn btn-lg" type="button"><span class="glyphicon glyphicon-arrow-down"></span></button>
		                        	</div>
		                        	
		                        </div>
                            </form>
                        </div>
                    </div>
                    <table class="table" >
                                <thead class="trgray" >
                                    <tr>
                                        <th class="text-center">${LABEL_ITEM_CODE }</th>
                                        <th class="text-center">${LABEL_BARCODE }</th>
                                        <th class="text-center">${LABEL_PRODUCT_NAME }</th>
                                        <th class="text-center">${LABEL_PRICE }</th>
                                        <th class="text-center">${LABEL_QUANTITY }</th>
                                        <th class="text-center">${LABEL_TOTAL}</th>
                                        <th class="text-center">${LABEL_ACTION }</th>
                                    </tr>
                                </thead>
                                <tbody   id="gridSalesTransactionBody">
                                </tbody>
                     </table>
                </div>
            </div>
        </div>
        
        <div class="form-group">
           <util:pagingutil id="paggingSearch"/>
        </div>
  		
  		</div>
  		
  		
  		<div class="col-sm-3" style="width: 410px;padding-left: 0px;padding-right: 0px;">
  		<div class="row">
            <div class="col-sm-12">
                <div class="panel panel-material-grey-800">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                             ${LABEL_SUMMARY }
                        </h3>
                    </div>
                    <div class="panel-body" style="background-color: #3a3636;padding-top: 70px;">
                    <div style="color: #34f321;position: absolute;right: 16px;top:35px;">
                    <label for="basic-url" style="font-size: 70px" id="totalNet"  class="hide" >0.00</label>
                    <label for="basic-url" style="font-size: 70px" id="totalNetDisplay">0.00</label>
                    </div>
                        				
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel">
                        <div class="panel panel-material-grey-800">
	                        <div class="panel-heading" >
		                        <h3 class="panel-title" >
		                            <label >${LABEL_TOTAL_ITEM } : </label> 
		                            <label style="margin-left: 10px;margin-right: 10px;font-size: 30px;color: #1adfcd;" id="itemCountDisplay" >-</label> 
		                            <label class="hide" id="itemCount" >-</label>  
									<label > ${LABEL_PIECE_ }.</label>
		                        </h3>
		                    </div>
                        </div>
                        <div class="panel-body">
                        <div class="form-group">
                        	<div class="control-label col-sm-12">
                        		<h3 style="margin-top: 0px;"><label >${LABEL_SUB_TOTAL }</label><label style="color: #2196f3;position: absolute;right: 36px;top:0px;" id="totalAmountDisplay" >0.00</label><label style="color: #2196f3;position: absolute;right: 16px;top:0px;"> $</label><label class="hide" id="totalAmount" >0.00</label></h3>
                        	</div>
                        </div>
                        <div class="form-group">
                        	<div class="control-label col-sm-3" style="top: 13px;">
                        		<label style="color: #009688;">${LABEL_REBATE }</label>
                        	</div>
                        	<div class="col-sm-6" style="padding-right: 0px;">
                        	<input type="hidden" id="totalAfterRebate" />
                        		<input type="text" class="form-control amount2digit"   id="rebate_amt" style="color: #2196f3;font-size: 16px;text-align: right;" placeholder="0.00"/>
                        	</div>
                        	<div class="col-sm-1" style="font-size: 18px;top: 6px;padding-left: 3px;">
                        		<label style="color: #009688;">$</label>
                        	</div>
                        	<div class="col-sm-1" style="padding-right: 1px;padding-left: 10px;">
                        		<input type="text" class="form-control"   id="rebate_pct" style="color: #2196f3;font-size: 16px;text-align: right;" placeholder="0"/> 
                        	</div>
                        	<div class="col-sm-1" style="font-size: 18px;top: 6px;padding-left: 3px;">
                        		<label style="color: #009688;">%</label>
                        	</div>
                        </div>
                        <div class="form-group">
                        	<div class="control-label col-sm-3" style="top: 13px;">
                        		<label style="color: #009688;">${LABEL_VAT }</label>
                        	</div>
                        	<div class="col-sm-6" style="padding-right: 0px;">
                        		<input type="text" class="form-control amount2digit"   id="vat_amt" style="color: #2196f3;font-size: 16px;text-align: right;" placeholder="0.00" readonly="readonly" />
                        	</div>
                        	<div class="col-sm-1" style="font-size: 18px;top: 6px;padding-left: 3px;">
                        		<label style="color: #009688;">$</label>
                        	</div>
                        	<div class="col-sm-1" style="padding-right: 1px;padding-left: 10px;">
                        	    <input type="hidden" id="flagIncludeVat" value="true" />
                        		<input type="text" class="form-control"   id="vat_pct" style="color: #2196f3;font-size: 16px;text-align: right;" placeholder="0"/> 
                        	</div>
                        	<div class="col-sm-1" style="font-size: 18px;top: 6px;padding-left: 3px;">
                        		<label style="color: #009688;">%</label>
                        	</div>
                        </div>
                        
                        <button type="button" class="btn btn-lg btn-material-red-700" id="button_cancel" >${BUTTON_CLEAR } <span class="fa fa-remove"><jsp:text/></span></button>
                        <button type="button" class="btn btn-lg btn-material-cyan-700" id="button_payment" >${BUTTON_PAYMENT} <span class="fa fa-money"><jsp:text/></span></button>
                        					
                        </div>
                    </div>
                </div>
            </div>
        </div>
  		</div>
  		
  		<div class="col-sm-2" style="margin-left: 80px;" id="numberKeyboard" >
  		<div class="row">
            <div class="col-sm-12">
                <div class="panel panel-material-grey-800">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                             ${LABEL_NUMBER_KEYBOARD }
                        </h3>
                    </div>
                    <div class="panel-body" style="background-color: #3a3636;padding-top: 20px;">
                    	<div class="col-sm-12">
	        			<div class="col-sm-4">
	        				<button onclick="keyValueInput('1')" style="font-size: 50px;border-radius: 5px;width: 60px;height: 60px;padding-left: 20px;padding-right: 20px;margin-top: -20;margin-top: 0px;margin-bottom: 0px;margin-right: 0px;margin-left: 0px;position: relative;top: -9px;left: -24px;backg;background-color: #ffffff;padding-top: 0px;" class="btn btn-lg" type="button"><span class="">1</span></button>
	        			</div>
	        			<div class="col-sm-4">
	        				<button onclick="keyValueInput('2')" style="font-size: 50px;border-radius: 5px;width: 60px;height: 60px;padding-left: 16px;padding-right: 20px;margin-top: -20;margin-top: 0px;margin-bottom: 0px;margin-right: 0px;margin-left: 0px;position: relative;top: -9px;left: -24px;backg;background-color: #ffffff;padding-top: 0px;" class="btn btn-lg" type="button"><span class="">2</span></button>
	        			</div>
	        			<div class="col-sm-4">
	        				<button onclick="keyValueInput('3')" style="font-size: 50px;border-radius: 5px;width: 60px;height: 60px;padding-left: 16px;padding-right: 20px;margin-top: -20;margin-top: 0px;margin-bottom: 0px;margin-right: 0px;margin-left: 0px;position: relative;top: -9px;left: -24px;backg;background-color: #ffffff;padding-top: 0px;" class="btn btn-lg" type="button"><span class="">3</span></button>
	        			</div>
	        			<div class="col-sm-4">
	        				<button onclick="keyValueInput('4')" style="font-size: 50px;border-radius: 5px;width: 60px;height: 60px;padding-left: 14px;padding-right: 20px;margin-top: -20;margin-top: 10px;margin-bottom: 0px;margin-right: 0px;margin-left: 0px;position: relative;top: -9px;left: -24px;backg;background-color: #ffffff;padding-top: 0px;" class="btn btn-lg" type="button"><span class="">4</span></button>
	        			</div>
	        			<div class="col-sm-4">
	        				<button onclick="keyValueInput('5')" style="font-size: 50px;border-radius: 5px;width: 60px;height: 60px;padding-left: 16px;padding-right: 20px;margin-top: -20;margin-top: 10px;margin-bottom: 0px;margin-right: 0px;margin-left: 0px;position: relative;top: -9px;left: -24px;backg;background-color: #ffffff;padding-top: 0px;" class="btn btn-lg" type="button"><span class="">5</span></button>
	        			</div>
	        			<div class="col-sm-4">
	        				<button onclick="keyValueInput('6')" style="font-size: 50px;border-radius: 5px;width: 60px;height: 60px;padding-left: 16px;padding-right: 20px;margin-top: -20;margin-top: 10px;margin-bottom: 0px;margin-right: 0px;margin-left: 0px;position: relative;top: -9px;left: -24px;backg;background-color: #ffffff;padding-top: 0px;" class="btn btn-lg" type="button"><span class="">6</span></button>
	        			</div>
	        			<div class="col-sm-4">
	        				<button onclick="keyValueInput('7')" style="font-size: 50px;border-radius: 5px;width: 60px;height: 60px;padding-left: 16px;padding-right: 20px;margin-top: -20;margin-top: 10px;margin-bottom: 0px;margin-right: 0px;margin-left: 0px;position: relative;top: -9px;left: -24px;backg;background-color: #ffffff;padding-top: 0px;" class="btn btn-lg" type="button"><span class="">7</span></button>
	        			</div>
	        			<div class="col-sm-4">
	        				<button onclick="keyValueInput('8')" style="font-size: 50px;border-radius: 5px;width: 60px;height: 60px;padding-left: 16px;padding-right: 20px;margin-top: -20;margin-top: 10px;margin-bottom: 0px;margin-right: 0px;margin-left: 0px;position: relative;top: -9px;left: -24px;backg;background-color: #ffffff;padding-top: 0px;" class="btn btn-lg" type="button"><span class="">8</span></button>
	        			</div>
	        			<div class="col-sm-4">
	        				<button onclick="keyValueInput('9')" style="font-size: 50px;border-radius: 5px;width: 60px;height: 60px;padding-left: 16px;padding-right: 20px;margin-top: -20;margin-top: 10px;margin-bottom: 0px;margin-right: 0px;margin-left: 0px;position: relative;top: -9px;left: -24px;backg;background-color: #ffffff;padding-top: 0px;" class="btn btn-lg" type="button"><span class="">9</span></button>
	        			</div>
	        			<div class="col-sm-4">
	        				<button onclick="keyValueInput('0')" style="font-size: 50px;border-radius: 5px;width: 60px;height: 60px;padding-left: 16px;padding-right: 20px;margin-top: -20;margin-top: 10px;margin-bottom: 0px;margin-right: 0px;margin-left: 0px;position: relative;top: -9px;left: -24px;backg;background-color: #ffffff;padding-top: 0px;" class="btn btn-lg" type="button"><span class="">0</span></button>
	        			</div>
	        			<div class="col-sm-12">
	        				<button type="button" class="btn btn-lg" style="color: #ffffff;font-size: 30px;border-radius: 5px;width: 236px;height: 44px;padding-left: 20px;padding-right: 20px;margin-top: -20;margin-top: 10px;margin-bottom: 0px;margin-right: 0px;margin-left: 0px;position: relative;top: -9px;left: -24px;backg;background-color: #ef0404;padding-top: 0px;padding-bottom: 0px;" onclick="clearCurrent()"><span class="">${BUTTON_CLEAR }</span></button>
	        			</div>
	        		</div>	
                    </div>
                </div>
            </div>
        </div>
  		</div>
  		
  		
  		
  	</div>
  </div><!-- div .container -->
  
	  
</div>