<div id="header" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:fn="http://java.sun.com/jsp/jstl/functions" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:spring="http://www.springframework.org/tags" version="2.0">
  <jsp:directive.page contentType="text/html;charset=UTF-8" />
  <jsp:output omit-xml-declaration="yes" />

  <script type="text/javascript">
        <![CDATA[

        var session = {

            context: '${pageContext.request.contextPath}',              // the context path
            date: new Date(Number("${now.time}")).setHours(0,0,0,0),    // the current date without time
            time: new Date(Number("${now.time}")),                      // the current date with time
            timeout: parseInt("${pageContext.session.maxInactiveInterval}")    // the session time (second unit) get from web.xml };
        };

        var csrfParameter = '${_csrf.parameterName}';
        var csrfToken = '${_csrf.token}';

        ]]>
    </script>
</div> 