<div id="menu" xmlns:menu="urn:jsptagdir:/WEB-INF/tags/menu" xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0">
	<jsp:directive.page contentType="text/html;charset=UTF-8" />
	<jsp:output omit-xml-declaration="yes"/>
	
    <menu:menu id="_menu" z="nZaf43BjUg1iM0v70HJVEsXDopc=">
        <jsp:text/>
    </menu:menu>
</div>